@import 'tailwindcss';
@plugin "tailwind-scrollbar";

@theme {
    --font-bricolage: 'Bricolage Grotesque 14pt', 'sans-serif';
    --font-DM: 'DM Sans 14pt', 'sans-serif';
    --color-backgroundBlue: #02012b;
    --color-gray_1: #2f2f49;
    --color-gray_2: #6e6e6e;
    --color-purple_1: #4657d9;
    --color-purple_2: #716ffc;
}

@layer base {
    h1 {
        @apply font-bricolage text-3xl md:text-4xl font-bold;
    }
    h2 {
        @apply font-DM text-2xl md:text-3xl font-bold text-white;
    }
}

@utility list-style {
    @apply [&>li>p]:inline-flex [&>li>p]:items-center [&>li>p]:w-full [&>li>p]:p-2 [&>li>p]:hover:bg-gray_2 [&>li>p]:rounded [&>li>p]:cursor-pointer;
}

body {
    @apply bg-backgroundBlue;
}

@layer utilities {
    .scrollbar-minimal {
        scrollbar-color: var(--color-gray-400) transparent;
    }
}
